<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>AdonisJs - Node.Js MVC Framework</title>

	<!--<link rel="icon" href="/assets/favicon.png" type="image/x-icon">-->

	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
	{% endblock %}

</head>
<body>
<div id="page">
	{% block header %}
		{% include 'partials/header/header' %}
	{% endblock %}
	{% block content %}{% endblock %}
	{% block footer %}
		{% include 'partials/footer/footer' %}
	{% endblock %}
</div>
{% block javascripts %}

{% endblock %}
{% block stylesheetsAsync %}
	<!-- Loading font after everything has been loaded, to speed up page load time -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
{% endblock %}
</body>
</html>
