.featured-building {
	position : relative;
	span {
		display      : block;
		position     : absolute;
		bottom       : 10px;
		left         : -10px;
		width        : 90%;
		width        : calc(100% - 10px);
		height       : 32px;
		line-height  : 32px;
		color        : #fff;
		padding-left : 12px;
		font-size    : 14px;
		font-weight  : 700;
		opacity      : 0.9;
	}
}