@charset "UTF-8";

* {
	box-sizing  : border-box;
	font-family : 'Lato', sans-serif;
}

body {
	font-size   : 14px;
	line-height : 17px;
	background  : #fff;
}

#page {
	display        : flex;
	flex-direction : column;
	min-height     : 100vh;
}

.wrap {
	width     : 100vw;
	max-width : 1044px;
	margin    : 0 auto;
}
