{% extends 'master' %}

{% block stylesheets %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/css/home/home.css" />
{% endblock %}

{% block header %}
	{% include '../partials/slider/top' %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div class="call-block gradient">
		<div class="wrap">
			<aside>
				<div class="call-block-image">
					<span class="icon-home"></span>
				</div>
				<div class="call-block-body">
					<h5>listings online</h5>
					<h3>4300</h3>
				</div>
			</aside>
			<aside>
				<div class="call-block-image">
					<img src="/images/lady.png" />
				</div>
				<div class="call-block-body">
					<h5>Immediate response</h5>
					<h3><span class="round gradient"></span>ONLINE</h3>
				</div>
			</aside>
			<aside>
				<div class="call-block-image">
					<span class="icon-screen-smartphone"></span>
				</div>
				<div class="call-block-body">
					<h5>Text Now</h5>
					<h3>555000</h3>
				</div>
			</aside>
		</div>
	</div>
	{% include '../partials/building/featured' %}
	{% include '../partials/deals/latest' %}
	<div id="page-home">
		<h1>Hello from home!</h1>
		{% if currentUser %}
			<pre>User: {{ currentUser|dump }}</pre>
			{% yield can = currentUser.can( 'administrate' ) %}
			<pre>Can: {{ can|dump }}</pre>
			{% yield profile = currentUser.getProfile() %}
			{% yield capabilities = currentUser.getCapabilities() %}
			{% yield groups = currentUser.getGroups() %}
		{% endif %}
		{% if profile %}
			<pre>Profile: {{ profile|dump }}</pre>
		{% endif %}
		{% if capabilities %}
			<pre>Capabilities: {{ capabilities|dump }}</pre>
		{% endif %}
		{% if groups %}
			<pre>Groups: {{ groups|dump }}</pre>
		{% endif %}
	</div>
{% endblock %}