<div class="search">
	<h1>Search your new home smarter!</h1>
	<h3>Our real estate agents have access the entire inventory for South Florida including thousands of condos</h3>
	<form action="" method="POST" class="search-form">
		<div class="field">
			<label for="rent">Approx Rent</label>
			<select name="rent" id="rent">
				<option value="1000-2000">$1000 - $2000</option>
			</select>
		</div>
		<div class="field">
			<label for="place">Where?</label>
			<select name="place" id="place">
				<option value="1">South Beach</option>
			</select>
		</div>
		<div class="field">
			<label for="baths">baths</label>
			<select name="baths" id="baths">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>
		</div>
		<div class="field">
			<label for="rooms">b-rooms</label>
			<select name="rooms" id="rooms">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>
		</div>
		<div class="field">
			<button type="submit" class="gradient">Search Results</button>
		</div>
	</form>
</div>